* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  scroll-snap-align: center; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.clear {
  clear: both; }

.emptyInput {
  border: 1px solid red; }

ul {
  list-style-type: none; }

.navbar .container .navbar-collapse .logo-login-section .logo {
  display: inline-block;
  font-weight: 700;
  color: #334364;
  letter-spacing: 2px;
  margin-right: 20px; }
  .navbar .container .navbar-collapse .logo-login-section .logo span {
    font-weight: normal;
    letter-spacing: 1px; }
.navbar .container .navbar-collapse .logo-login-section .login-container {
  display: inline-block;
  position: relative;
  top: -12px; }
  @media only screen and (max-width: 768px) {
    .navbar .container .navbar-collapse .logo-login-section .login-container {
      display: block;
      top: 10px;
      margin-bottom: 15px; } }
  .navbar .container .navbar-collapse .logo-login-section .login-container img {
    width: 30px;
    border: 2px solid #334364;
    border-radius: 50%;
    margin-right: 15px; }
  .navbar .container .navbar-collapse .logo-login-section .login-container a {
    color: #334364;
    font-size: 18px;
    text-decoration: none; }
    .navbar .container .navbar-collapse .logo-login-section .login-container a:hover {
      color: #5272b2; }
.navbar .container .navbar-collapse .navbar-nav {
  justify-content: space-between;
  width: 50%; }
  @media only screen and (max-width: 768px) {
    .navbar .container .navbar-collapse .navbar-nav {
      width: 100%; } }
  .navbar .container .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: #5272b2; }
  .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #334364;
    text-transform: uppercase;
    transition: .2s color ease-in-out; }
    .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link.active {
      color: #cbb492; }

.trans-btn {
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  width: 200px;
  display: block;
  margin: 10px auto;
  transition: .3s;
  font-weight: bold; }
  .trans-btn:hover {
    color: #cbb492;
    border: 2px solid #cbb492;
    opacity: .4; }

/*-------------------------*/
.blue-btn {
  border: none;
  outline: none;
  background-color: #334364;
  padding: 10px 30px;
  color: white;
  display: block; }

/*------------------------------------------------*/
.preloading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5555555556;
  background-color: #334364; }
  .preloading-screen .sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    margin: 40px auto; }
    .preloading-screen .sk-chase .sk-chase-dot {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      animation: sk-chase-dot 2.0s infinite ease-in-out both; }
      .preloading-screen .sk-chase .sk-chase-dot:before {
        content: '';
        display: block;
        width: 25%;
        height: 25%;
        background-color: #cbb492;
        border-radius: 100%;
        animation: sk-chase-dot-before 2.0s infinite ease-in-out both; }

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s; }

.sk-chase-dot:nth-child(2) {
  animation-delay: -1.0s; }

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s; }

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s; }

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s; }

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s; }

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s; }

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1.0s; }

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s; }

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s; }

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s; }

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s; }

@keyframes sk-chase {
  100% {
    transform: rotate(360deg); } }
@keyframes sk-chase-dot {
  80% , 100% {
    transform: rotate(360deg); } }
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); }
  100%, 0% {
    transform: scale(1); } }
.header {
  position: relative; }
  .header .owl-carousel img {
    height: 600px; }
  .header .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%; }
    .header .overlay-content .container .callus {
      position: absolute;
      right: 125px;
      background-color: #334364;
      color: white;
      padding: 10px 20px; }
      .header .overlay-content .container .callus i, .header .overlay-content .container .callus svg {
        display: inline-block;
        margin-right: 10px; }
    .header .overlay-content .container .stun-home {
      width: 350px;
      position: absolute;
      top: 260px;
      background-color: #334364d3;
      color: white;
      padding: 40px 20px; }
      @media only screen and (max-width: 360px) {
        .header .overlay-content .container .stun-home {
          width: 330px; } }
      .header .overlay-content .container .stun-home h2 {
        font-size: 2rem;
        margin-bottom: 15px; }
      .header .overlay-content .container .stun-home hr {
        border-top: 2px solid white; }
      .header .overlay-content .container .stun-home .stun-home-price {
        font-size: 2rem;
        display: block;
        font-weight: bold;
        text-align: center; }

/*-------------------------------------------------------*/
.latest-prop {
  padding-top: 220px; }
  .latest-prop .container h4 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: #334364;
    margin-bottom: 30px; }
  .latest-prop .container .row .prop-card img {
    width: 100%; }
  .latest-prop .container .row .prop-card .prop-card-info h6 {
    font-weight: 600;
    text-transform: uppercase;
    color: #334364;
    font-size: 18px;
    padding: 15px 0 0 0; }
  .latest-prop .container .row .prop-card .prop-card-info .prop-price {
    color: #5272b2;
    display: block;
    margin-bottom: 10px;
    font-size: 20px; }
  .latest-prop .container .row .prop-card .prop-card-info .bedrooms-number {
    color: #cbb492;
    margin-bottom: 10px; }
  .latest-prop .container .row .prop-card .prop-card-info p {
    color: #A0A09F; }
  .latest-prop .container .row .prop-card .prop-card-info .trans-btn {
    color: #5272b2;
    border: 2px solid #5272b2;
    font-weight: normal;
    margin-left: 0; }

/*--------------------------------------------------*/
.latest-rental {
  margin: 70px 0; }
  .latest-rental h4 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: #334364;
    margin-bottom: 100px; }
  .latest-rental .rental-card {
    background-color: #334364;
    padding: 30px 0; }
    .latest-rental .rental-card .rental-card-info {
      width: 800px;
      margin: auto;
      display: flex;
      max-width: 100%; }
      @media only screen and (max-width: 414px) {
        .latest-rental .rental-card .rental-card-info {
          display: block; } }
      .latest-rental .rental-card .rental-card-info .rental-card-info-img {
        position: relative;
        top: -70px;
        width: 300px; }
        @media only screen and (max-width: 768px) {
          .latest-rental .rental-card .rental-card-info .rental-card-info-img {
            left: 15px; } }
      .latest-rental .rental-card .rental-card-info .rental-card-info-data {
        margin: 50px 30px; }
        .latest-rental .rental-card .rental-card-info .rental-card-info-data .rent-name {
          color: white;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 22px;
          display: block;
          margin-bottom: 10px; }
        .latest-rental .rental-card .rental-card-info .rental-card-info-data .bedrooms-number {
          display: block;
          color: #cbb492;
          margin-bottom: 10px;
          text-transform: uppercase; }
        .latest-rental .rental-card .rental-card-info .rental-card-info-data p {
          color: #A0A09F; }
        .latest-rental .rental-card .rental-card-info .rental-card-info-data .rent-price {
          color: #5272b2;
          text-transform: uppercase;
          font-size: 23px; }
    .latest-rental .rental-card.rental-card-down {
      background-color: #293b5f; }
      .latest-rental .rental-card.rental-card-down .rental-card-info-img {
        top: 29px; }
        @media only screen and (max-width: 768px) {
          .latest-rental .rental-card.rental-card-down .rental-card-info-img {
            right: 15px;
            left: -15px; } }
        @media only screen and (max-width: 414px) {
          .latest-rental .rental-card.rental-card-down .rental-card-info-img {
            top: 0;
            left: 15px; } }

/*------------------------------------------------------------*/
.realtors {
  margin-bottom: 50px; }
  .realtors .container h4 {
    font-size: 2rem;
    text-align: center;
    color: #334364;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 40px; }
  .realtors .container .row .realtors-card {
    text-align: center;
    padding: 40px; }
    .realtors .container .row .realtors-card svg {
      font-size: 50px;
      color: #cbb492;
      display: block;
      margin: auto;
      margin-bottom: 20px;
      opacity: .6; }
    .realtors .container .row .realtors-card h5 {
      font-size: 20px;
      color: #334364;
      text-transform: uppercase;
      font-weight: 600; }
    .realtors .container .row .realtors-card span {
      color: #5272b2; }

/*-----------------------------------------------*/
.test {
  background: url("../images/test-bg.jpg");
  background-size: cover;
  padding: 60px 0 40px;
  position: relative;
  background-attachment: fixed; }
  .test .overlay {
    background-color: #293b5f;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .test .container {
    color: white;
    z-index: 5; }
    .test .container h4 {
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      color: white;
      position: relative; }
    .test .container .row .test-card {
      text-align: center;
      padding: 70px; }
      @media only screen and (max-width: 768px) {
        .test .container .row .test-card {
          padding: 40px; } }
      .test .container .row .test-card svg {
        display: block;
        margin: auto;
        color: #cbb492;
        font-size: 40px;
        transform: rotate(180deg);
        margin-bottom: 20px; }
      .test .container .row .test-card span {
        color: #cbb492;
        font-weight: 600; }

/*--------------------------------------------------*/
.contact {
  margin: 60px 0; }
  .contact .container h4 {
    font-weight: 600;
    font-size: 2rem;
    color: #334364;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .contact .container .row .address-map h6 {
    font-size: 20px;
    color: #334364;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px; }
    .contact .container .row .address-map h6:nth-of-type(2) {
      margin-top: 80px; }
  .contact .container .row .address-map span {
    color: #A0A09F;
    display: block;
    margin-bottom: 20px; }
  .contact .container .row .address-map iframe {
    max-width: 100%; }
  .contact .container .row .address-map ul {
    list-style-type: none; }
    .contact .container .row .address-map ul li {
      color: #A0A09F;
      font-size: 18px; }
  .contact .container .row .contact-form h6 {
    font-size: 20px;
    color: #334364;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    padding-right: 20px; }
  .contact .container .row .contact-form .form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px; }
  .contact .container .row .contact-form .form textarea {
    width: 100%;
    padding: 10px; }
  .contact .container .row .contact-form .form .blue-btn {
    margin-top: 15px; }

/*# sourceMappingURL=home.css.map */
